

 

    <!-- Page content -->
    <div class="container mt--12">

                <!-- Card stats -->
          <div class="row mt--10percent">
            {{#each stats}}
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{this.title}}</h5>
                      <span class="h2 font-weight-bold mb-0">{{this.short_desc}} </span>
                    </div>
                    <div class="col-auto">
                       <a href="{{this.url}}" class="btn btn-sm btn-primary">See all</a>
                      {{!-- <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div> --}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>

      <div class="row py-6 py-lg-6 pt-lg-6">
      
      {{!-- Change to articles --}}
         {{#each pets}}
            <div class="col-xl-4 col-md-6">
              <div class="card">
                <!-- Card body -->
                <div class="card-img-250" style="background-image:url('{{this.profile_img_url}}')">
                  {{!-- <img class="card-img-top" src="{{this.profile_img_url}}" alt="{{this.pet_name}}"> --}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                  <p class="card-text">{{this.short_desc}}</p>
                  <a href="/pets/{{this.ID}}" class="btn btn-primary">Read more</a>
                </div>
              </div>
            </div>
        {{/each}}
      </div>
    </div>
