    <!-- Modal Adoption -->
    {{#gt pet._id 0 }}
    <div class="modal fade" id="adoptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           <div class="alert alert-success m-4 d-none" role="alert">
              This is a success alert—check it out!
          </div>
          <form id="add-adoption-form" role="form" method="post" action="/pets/{{pet._id}}/adoptions/">
            <div class="modal-header">
              <h5 class="modal-title" id="adoptionModalLabel">Adoption request</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="userID" id="input-user_id" class="form-control" value="{{user._id}}">
                    <input type="hidden" name="petID" id="input-pet_id" class="form-control" value="{{pet._id}}">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-name">Name</label>
                        <input readonly type="text" id="input-name" class="form-control" placeholder="First Name" value="{{user.name}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input readonly type="email" id="input-email" class="form-control" placeholder="Email" value="{{user.email}}"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-phone">Phone</label>
                        <input readonly type="phone" id="input-phone" class="form-control" placeholder="Phone" value="{{user.phone}}"/>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Address</label>
                        <textarea readonly class="form-control" name="address" id="input-address" rows="3">{{user.address}}</textarea>
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-message">Message</label>
                        <textarea class="form-control" name="description" id ="input-message" rows="4">I am interested in adopting this lovely pet!</textarea>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Send adoption request</button>
            </div>
          
          </form>
        </div>
      </div>
    </div>
    {{/gt}}
    
    <!-- Page content -->
    <div class="container mt--6">
      <div class="row col-12 mt--250">
          <div class="col">
            <div class="pr-4">
              <h1 class="font-weight-bold text-white">{{title}}</h1>         
            </div>
            </div>
            {{#gt pet._id 0}}
             <div class="col">
            <div class="py-3">
              <button id="apply-for-adoption" class="btn btn-neutral" data-toggle="modal" data-target="#adoptionModal">Apply for adoption</button>          
            </div>
          </div>
          {{/gt}}
      </div>
      <div class="row">
        {{#gt pet._id 0}}
        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="{{pet.profile_img_url}}" alt="Image placeholder" class="card-img-top">
   
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    {{!-- <div>
                      <p class="heading">{{pet.favourites}}</p>
                      <p class="description">Likes</p>
                    </div> --}}
                    <div>
                      <p class="heading">{{pet.applications}}</p>
                      <p class="description">Current applications</p>
                    </div>
                    <div class="p-0 m-0">
                      <button type="button" class="btn-icon-clipboard btn-like" data-petID="{{pet._id}}" data-userID="{{user._id}}"  title="">
                          <i class="ni ni-favourite-28"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="h3">
                  {{pet.name}}<span class="font-weight-light">,
                    {{#eq pet.age_year 1 }}{{ pet.age_year }} year {{/eq}}
                    {{#gt pet.age_year 1}}{{ pet.age_year }}  years {{/gt}} 
                    {{#eq pet.age_month 1 }}{{ pet.age_month }} month {{/eq}}
                    {{#gt pet.age_month 1}}{{ pet.age_month }} months {{/gt}}
                </h5>
                <p class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>{{pet.address}}
                </p>
                <p data-userid = "{{pet.ownerID}}" class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{pet.owner}}
                </p>
              </div>
            </div>
          </div>
        </div>
        {{/gt}}        
        <div class="col-xl-8 order-xl-1">
          <div class="card">
          <div class="tab-content">
            <div id="edit" class="tab-pane tab-example-result fade {{#eq pet._id 0}}active show{{/eq}}" role="tabpanel" aria-labelledby="alerts-edit-tab">
              <!-- Alerts -->
              <div class="alert alert-success m-4 d-none" role="alert">
              This is a success alert—check it out!
              </div>
              <form id="{{#if pet.name }}edit{{else}}add{{/if}}-pet-form" role="form" method="{{#if pet.name }}put{{else}}post{{/if}}" action="/pets/{{#if pet.name }}{{pet._id}}{{/if}}" enctype="multipart/form-data">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">{{#eq pet._id 0}}Fill profile info{{/eq}}{{#gt pet._id 0}}Edit profile{{/gt}} </h3>
                    </div>
                    <div class="col-4 text-right">
                       {{#gt pet._id 0}}<input id="pet-id" name="_id" type="hidden" value="{{pet._id}}">{{/gt}}
                        <input id="user-id" name="ownerID" type="hidden" value="{{#gt pet._id 0}}{{pet.ownerID}}{{/gt}}{{#eq pet._id 0}}{{user._id}}{{/eq}}">
                      {{!-- <input type="checkbox" class="form-control-input" id="input-publish"/> --}}
                      {{!-- <label class="form-control-label" for="input-publish">Publish</label> --}}
                      <button type="submit" class="btn btn-primary">Save</button>
                       {{#gt pet._id 0}}<button id="delete" class="btn trash-pet">Delete Pet</button>{{/gt}}
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">Pet information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-name">Name</label>
                            <input required type="text" id="input-name" name="name" class="form-control" placeholder="Name" value="{{pet.name}}">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label">Profile picture</label>
                            <input type="file" name="profile_img_url" rows="4" class="form-control" placeholder="Profile picture" value="{{pet.profile_img_url}}"/>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-category">Category</label>
                            <select name="categoryID" type="text" id="input-category" class="form-control">
                              {{#each categories}}
                              <option {{#eq ../pet.categoryID this._id}} selected {{/eq}} value="{{this._id}}">{{this.name}}</option>
                              {{/each}}
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-neutered">Neutered</label>
                            <select name="neutered" type="text" id="input-neutered" class="form-control">
                              <option {{#eq pet.neutered 1}} selected {{/eq}} value="1">Yes</option>
                              <option {{#eq pet.neutered 2}} selected {{/eq}} value="2">No</option>
                              <option {{#eq pet.neutered 3}} selected {{/eq}} value="3">Unknown</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-age_years">Age years</label>
                            <input type="number" name="age_year" id="input-age_years" class="form-control" placeholder="Years" value="{{pet.age_year}}">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-age_months">Age months</label>
                            <input type="number" name="age_month" id="input-age_months" class="form-control" placeholder="Months" value="{{pet.age_month}}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="form-control-label" for="input-address">Address</label>
                            <input id="input-address" name="address" class="form-control" placeholder="Home Address" value="{{pet.address}}" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    <h6 class="heading-small text-muted mb-4">Summary</h6>
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Summary</label>
                        <textarea name="short_desc" rows="4" class="form-control" placeholder="Short summary">{{pet.short_desc}}</textarea>
                      </div>
                    </div>
                    <div class="pl-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Description</label>
                        <textarea name="description" rows="4" class="form-control" placeholder="A few words about the pet ...">{{pet.description}}</textarea>
                      </div>
                    </div>
                </div>
              </form>
            </div>
            <div id="view" class="tab-pane fade {{#gt pet._id 0}}active show{{/gt}}" role="tabpanel" aria-labelledby="alerts-view-tab">
              <div class="card-header">
                <div class="row align-items-center">
                  {{pet.short_desc}}
                </div>
              </div>
              <div class="card-body">
                <div class="row align-items-center">
                  {{pet.description}}
                </div>
              </div>
            </div>
          </div>
          {{#gt pet._id 0}}
          <ul class="nav nav-tabs-code py-3" id="alerts-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="alerts-edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="alerts-edit" aria-selected="false">Edit</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link active" id="alerts-view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="alerts-view" aria-selected="true">View</a>
            </li>
          </ul>
          {{/gt}}
          </div>
        </div>
      </div>
   </div>